*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height:100%;
}
.container{
    max-width: 90vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;text-align: center;
}
.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(82, 79, 79);
    margin: 0 auto;
}
.main_container{
    display:grid;
    gap:1.5rem;
    grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 935px){
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1380px){
    .main_container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1870px){
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
}
.card_container{
    display: flex;
    overflow:hidden;
    flex-direction: column;
    border: 1px solid rgb(111, 109, 109);
    border-radius: 7px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height:17rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height:100%;
    width: 100%;
}
.card_title_container{
    display:flex;
    flex-direction: column;
    padding: 1.55rem;
}
.card_container:hover .card_image{
    transform: scale(1.06);
    transition-duration: 500ms;
}
.card_title{
    font-size: 1.1rem;
    font-weight: 725;
    color: rgb(58, 53, 53);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}
.card_title_anchor:hover .card_title{
    color:coral;
}
.card_desc{
    color:rgb(96, 89, 89);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.author_avatar_container{
    height:2rem;
    width: 2rem;
    overflow: hidden;
    border:1px solid rgb(121, 101, 101);
    border-radius: 50%;
    background-color: rgb(243, 241, 241);
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
#id1{
    color:tan;
}
#id2{
    color: rgb(120, 114, 114);
}
.card_tag_container{
    font-size: 0.9rem;
    border:1px solid rgb(131, 128, 128);
    border-radius: 3px;
    line-height: 1rem;
    padding:0.25rem 0.4rem;
    color: grey;
}